#screen {
}
#screen span {
    font-family: serif;
    font-size: 150%;
    line-height: 200%;
    white-space: pre-wrap;
}
#keyboard {
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 1px solid maroon;
    background-color: wheat;
}
#keyboard div {}
.key {
    position: absolute;
    font-weight: bold;
    font-size: 80%;
    font-family: "sans-serif";
    padding: 0;
    border: 0;
}
.key > div {
    margin-left: 3px;
    margin-top: 6px;
}
.key_up {
    color: #444444;
    background-color: white;
}
.key_down {
    color: #FFFFEE;
    background-color: maroon;
}
body, div {
    margin: 0;
    padding: 0;
}
